/*SEARCH*/

.search {
	background-image: url("../../assets/images/github-bg.svg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.search input {
  border-radius: 5px 0 0 5px;
  width: 50%;
}

.search button {
  border-radius: 0 5px 5px 0;
  width: 160px;
  background-color: #4abd48;
  border-color: #4abd48;
}

.search input, .search button {
  height: 45px;
  font-size: 18px;
}

.search button:hover {
	background-color: #328a31;
	border-color: #328a31;
}

.input-group {
  width: 50%;
}

.search .container {
	padding-top: 100px;
	padding-bottom: 140px;
}

form {
	margin-top: 50px;
}

.panel {
	margin-top: 20px;
	text-align: left;
}

.borderless td, .borderless th {
    border: none;
}

.result {
	background-color: #fafafa;
	min-height: 350px;
}

.result img {
	padding-right: 10px;
}

.class .col-md-6 {
	padding: 0;
}

.panel {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

#avatar {
	width: 120px;
}

table th {
	width: 150px;
}

.panel-left th {
	font-weight: normal;
}

.panel-left td {
	font-weight: bold;
}

.panel-right img {
	position: absolute;
	right: 30px;
	bottom: 40px;
}

.panel-right {
	padding-bottom: 28px;
}

.search .row {
	background-color: #24292e;
	opacity: 0.95;
}

.search h1, .search h3 {
	color: white;
}

h4 {
	color: #707172;
}

@media only screen and (max-width: 768px) {
	.search input {
	  border-radius: 5px;
	  margin-left: 25%;
	}

	.search button {
	  border-radius: 5px;
	  margin-top: 10px;
	  border-radius: 0;
	}
}